#opciones-container,#pregunta-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#pregunta-container{
    justify-content: space-between;
}

.row{
    border: solid black 4px;
    background-color: rgba(211, 211, 211, 0.486);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0,0,0,0.3);
}

.row,#opcionCorrectaContainer{
    margin: 10px;
}

#header-preguntas{
    display: flex;
    justify-content: center;
}

#btn-agregar{
    display: flex;
    align-items: flex-end;

}